@tailwind base;
@tailwind components;
@tailwind utilities;

.shop-item {
  width: clamp(100px, 15vw, 200px);
}
.shop-item-desc {
  width: clamp(80px, 14vw, 180px);
  font-size: 0.8rem;
}

/* Define the slide-in and slide-out animations */
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

/* Apply the animations to the modal */
.modal-enter {
  animation: slideIn 0.45s forwards;
}

.modal-exit {
  animation: slideOut 0.35s forwards;
}
